################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vscode/
*.lock
*.exe
*.cache
!spec/*.exe
!spec/**/*.exe
!spec/**/**/*.exe
!spec/*.cache
!spec/**/*.cache
!spec/**/**/*.cache
!spec/*.json
!spec/**/*.json
!spec/**/**/*.json
